PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=TU_PASSWORD_DB
DB_NAME=postgres

JWT_SECRET=eventhive_secret

# URL base usada en el enlace de confirmacion
# En local: http://localhost:3009
# En red local: http://NOMBRE-PC:3009
APP_BASE_URL=http://localhost:3009

# user-service ya no envia correos directamente.
# Solo delega el envio a notification-service.
NOTIFICATION_SERVICE_URL=http://localhost:3003
